*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.one {
    background: url(../images/brendon.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
}
.two {
    background: url(../images/me.gif) center;
    background-repeat: no-repeat;
    background-size: cover;
}
.three {
    background: url(../images/doab.png) center;
    background-repeat: no-repeat;
    background-size: cover;
}
.four {
    background: url(../images/patdbg.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
header {
    padding: 10px;
}
nav ul li {
    list-style: none;
    display: inline-flex;
    margin: 10px;
}
nav ul li a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid #929688;
    border-bottom: 1px solid #929688;
}
nav a:hover {
    transition: .5s ease;
    color: #929688;
}